<%- include('./partials/head')  %>
    <body>
        <%- include('./partials/header')  %>
        <main>
            <section>
                <h1>Carrito de compras</h1>
                <article class="comentarios">
                    <% if (!(carritos.find((carrito)=>{
                        return carrito.id == userID.id;
                    }))) { %>
                     <h1> Todavía no tienes ningún producto agregado</h1>
                     <p>Envios rapidos. <i class="fa-solid fa-truck-fast"></i></p>
                    <% } %>

                    <ul class="carrito">
                        <% for( let carrito of carritos ) { %>
                             <% if (userID.id == carrito.id) { %>
                                <li class="carrito-item-img"><img src="img/products/<%= carrito.userCart.fileImg %>" alt="No image"></li>
        
                                <li class="carrito-item">
                                    <form action="/">
                                        <label for="quantity">Agrega más productos:</label>
                                        <input type="number" id="quantity" name="quantity" min="1" max="100">
                                        <input type="submit" value="Agregar">
                                    </form>
                                    <br>
                                    <br>
                                    <p>Envios rapidos. <i class="fa-solid fa-truck-fast"></i></p>

                                    <form action="/deleteShoppingCart/%= productoImg.id %>/delete?_method=delete" method="post">
                                        <label for="eliminar"></label>
                                        <input type="hidden" id="userId" name="userId" value= <%= userID.id %> >
                                        <input type="submit" value="Eliminar" />
                                    </form>
                                </li>
                             <% } %>
                        <% } %>
                    </ul>
                </article>
            </section>
        </main>
        <%- include('./partials/footer')  %>
    </body>
</html>