<%- include('./partials/head')  %>
    <body>
        <%- include('./partials/header')  %>
        <main>
            <section>
                <!-- <article class="comentarios" style="width: 42%;"> -->
                <article class="carrito-compras">
                    <h1 style="text-align: center;">Carrito de compras</h1>
                    <% if (!(carritos.find((carrito)=>{
                        return carrito.id == userID.id && carrito.userCart.id != null;
                    }))) { %>
                     <h1>Agrega productos </h1>
                     <p>Envios rapidos. <i class="fa-solid fa-truck-fast"></i></p>
                    <% } %>

                    <ul class="carrito">
                        <% let aux = 0%>
                        <% for( let carrito of carritos ) { %>
                            <% if (userID.id == carrito.id && carrito.userCart.id != null ) { %>
                                <% if (carrito.userCart.fileImg) { %>
                                    <li class="carrito-item-img"><img src="img/products/<%= carrito.userCart.fileImg %>" alt="No image"></li>
                                <% } else { %>
                                    <li class="carrito-item-img"><img src="<%= carrito.userCart.img %>" alt="No image"></li>
                                <% } %>
                                    
                                <% let cantidad = shoppingCart.filter(cart=>{return carrito.userCart.id == cart.product_id}) %>
                                <li class="carrito-item">
                                    <form action="/notifications" method="post">
                                        <label for="quantity"></label>
                                        <input type="hidden" id="userId" name="userId" value="<%= userID.id %>" >
                                        <input type="hidden" id="product_id" name="product_id" value="<%= carrito.userCart.id %>" >
                                        <input type="hidden" id="shoppingCart_id" name="shoppingCart_id" value="<%= shoppingCart[aux].id %>" >
                                        <input type="hidden" id="seller_id" name="seller_id" value="<%= carrito.userCart.userId %>" >
                                        <input type="hidden" id="quantity" name="quantity" value="<%= cantidad[0].quantity %>" >
                                        <input type="submit" value="Pagar">
                                    </form> 
                                    <br> <br> <br>

                                    <form action="/addNewProductCart/<%= shoppingCart[aux].id %>/?_method=PUT" method="post">
                                        <label for="quantity">Cantidad:</label> <br>
                                        <input type="hidden" id="userId" name="userId" value="<%= userID.id %>" >
                                        <input type="hidden" id="product_id" name="product_id" value="<%= carrito.userCart.id %>" >
                                        <input type="hidden" id="seller_id" name="seller_id" value="<%= carrito.userCart.userId %>" >
                                        <input style="width: 100%;" type="number" id="quantity" name="quantity" min="1" max="100" 
                                            value="<%= cantidad[0].quantity %>">
                                        <button id="icon" type="submit"><i class="fa-solid fa-cart-plus"></i></button>
                                    </form>
                                    
                                    <form action="/deleteCart/<%= shoppingCart[aux].id %>/delete?_method=delete" method="post">
                                        <label for="eliminar"></label>
                                        <input type="hidden" id="userId" name="userId" value="<%= userID.id %>" >
                                        <input type="hidden" id="quantity" name="quantity" value="<%= shoppingCart[aux].id %>" >
                                        <button id="icon" type="submit"><i class="fa-solid fa-trash-can"></i></button>
                                        </form>
                                    <p>Envios rapidos. <i class="fa-solid fa-truck-fast"></i></p>
                                    <% if (aux < shoppingCart.length) { %>
                                        <% aux ++ %>
                                    <% } %>
                                </li>
                            <% } %>
                        <% } %>
                    </ul>
                </article>
            </section>
        </main>
        <%- include('./partials/footer')  %>
    </body>
</html>