<!-- Listado-->
<%- include('./partials/head')  %>
    <body>
        <%- include('./partials/header')  %>
        <main>
            <section>
                <h2>Categorias</h2>

                <% for( let producto of newProducts ) { %>
                    <article>
                        <ul class="nav">
                            <li class="nav-item"> <a class="nombre" href="/category/<%= producto.categoria %>"> <%= producto.categoria %></a> </li>
                        </ul>
                    </article>
                <% } %>

            </section>
        </main>
        <%- include('./partials/footer')  %>
    </body>
</html>