<!-- Listado-->
<%- include('./partials/head')  %>
    <body>
        <%- include('./partials/header')  %>
        <main>
            <section>
                <h2>Categoria</h2>

                <% for( let producto of newProducts ) { %>
                    <article>
                        <ul class="nav">
                            <!-- <li class="nav-item nav-item-end"><i class="fa-regular fa-heart"></i></li> -->
                            <li class="nav-item descripcion"><%= producto.categoria %></li>
                            <% if (producto.fileImg) { %>
                                <li class="nav-item nav-item-end"><a href="/detalleProducto/<%= producto.id %>">
                                    <img src="/img/products/<%= producto.fileImg %>" alt="No image"></a>
                                </li>
                            <% } else { %>
                                <li class="nav-item nav-item-end"><a href="/detalleProducto/<%= producto.id %>">
                                    <img src=<%= producto.img %> alt="No image"></a>
                                </li>
                              <% } %>

                            <% let stars = Allcoments.filter(element=>{return (element.product_id == producto.product_id) }) %> 
                            <% let aux=[] %>
                            <% for(let element of stars){ %>
                                <% aux.push(element.star) %> 
                            <% } %> 

                            <%let mayor = aux.sort() %>
                            <li class="nav-item descripcion">
                                <% if (aux.length == 0) { %>
                                    <% for (let i=0; i<5; i++) { %>
                                        <i class="fa-regular fa-star estrellas"></i>
                                    <% } %>
                                <% } %>
                                <% for (let i=0; i<mayor[mayor.length-1]; i++) { %>
                                    <i class="fa-solid fa-star estrellas"></i>
                                <% } %>
                                <% if (mayor[mayor.length-1] < 5) { %>
                                    <% for (let i=mayor[mayor.length-1]; i<5; i++) { %>
                                        <i class="fa-regular fa-star estrellas"></i>
                                    <% } %>
                                <% } %>
                            </li>

                            <li class="nav-item descripcion"><%= producto.name %></li>
                            <li class="nav-item descripcion">Current price: <%= producto.precio %></li>
                            <li class="nav-item descripcion">Description: <%= producto.description %></li>
                        </ul>
                    </article>
                <% } %>
            </section>
        </main>
        <%- include('./partials/footer')  %>
    </body>
</html>