<!-- Creación -->
<%- include('./partials/head')  %>
    <body>
        <%- include('./partials/header')  %>
        <main>
            <% if (locals.errors) { %>
              <div class="container" style="background-color: #eb5353;">
                <b>Faltan campos por llenar!!!</b>
              </div>
            <% } %>
            <h2>Crea un nuevo producto</h2>

            <form id="formCrear" action="/crearLista" method="post" enctype = "multipart/form-data">

              <div class="container">
                <div class="row">
                  <div class="col-25">
                    <% if (locals.errors) { %>
                          <% if (errors.find(error=>error.param == "name")) { %>
                            <% errors.forEach(error => { %>
                              <% if (error.param == "name" ) { %>
                                <div class="container" style="background-color: #eb5353;">
                                  <b><%= error.msg  %></b>
                                </div>
                              <% } %>
                            <% }) %>
                            <% } else {%>
                              <label for="name">Nombre <i class="fa-duotone fa-asterisk asterisk"></i></label>
                            <% } %>
                    <% } else {%>
                      <label for="name">Nombre <i class="fa-duotone fa-asterisk asterisk"></i></label>
                    <% } %>
                  </div>
                    <div class="col-75">
                      <input
                        type="text"
                        id="name"
                        name="name"
                        <% if (locals.old && old.name) { %>
                          value= "<%= old.name %>"
                        <% } else { %>
                          placeholder="Nuevo nombre del producto"
                        <% } %>
                      />
                      <div class="container" id="frontName" style="background-color: #eb5353;">
                        <b>Debe tener al menos 5 caracteres</b>
                      </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                      <% if (locals.errors) { %>
                            <% if (errors.find(error=>error.param == "precio")) { %>
                              <% errors.forEach(error => { %>
                                <% if (error.param == "precio" ) { %>
                                  <div class="container" style="background-color: #eb5353;">
                                    <b><%= error.msg  %></b>
                                  </div>
                                <% } %>
                              <% }) %>
                              <% } else {%>
                                <label for="precio">Precio <i class="fa-duotone fa-asterisk asterisk"></i></label>
                              <% } %>
                      <% } else {%>
                        <label for="precio">Precio <i class="fa-duotone fa-asterisk asterisk"></i></label>
                      <% } %>
                    </div>
                    <div class="col-75">
                      <input
                        type="number"
                        id="precio"
                        name="precio"
                        min="1"
                        <% if (locals.old && old.precio) { %>
                          value= "<%= old.precio %>"
                        <% } else { %>
                          placeholder="Precio inicial del producto"
                        <% } %>
                      />
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                      <label for="img">URL de la imagen</label>
                    </div>
                    <div class="col-75">
                      <input
                        type="url"
                        id="img"
                        name="img"
                        placeholder="Ingresa una URL para la imagen"
                      />
                    </div>
                </div>

                <div class="row">
                  <div class="col-25">
                    <% if (locals.errors) { %>
                      <% if ( errors.findIndex(error => error.param == "fileImg") != -1 ) { %>
                        <div class="container" style="background-color: #eb5353;">
                          <b><%= errors[errors.findIndex(error => error.param == "fileImg")].msg  %></b>
                        </div>
                      <% } %>
                    <% } else {%>
                      <label for="fileImg">Agrega una imagen</label>
                    <% } %>
                  </div>
                  <div class="col-75">
                    <input
                      type="file"
                      id="fileImg"
                      name="fileImg"
                    />
                    <div class="container" id="frontFileImg" style="color: #eb5353;">
                      <b>Verifica que sea formato JPG, JPEG, PNG o GIF</b>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-25">
                    <% if (locals.errors) { %>
                          <% if (errors.find(error=>error.param == "categoria")) { %>
                            <% errors.forEach(error => { %>
                              <% if (error.param == "categoria" ) { %>
                                <div class="container" style="background-color: #eb5353;">
                                  <b><%= error.msg  %></b>
                                </div>
                              <% } %>
                            <% }) %>
                            <% } else {%>
                              <label for="categoria">Categoría <i class="fa-duotone fa-asterisk asterisk"></i></label>
                            <% } %>
                    <% } else {%>
                      <label for="categoria">Categoría <i class="fa-duotone fa-asterisk asterisk"></i></label>
                    <% } %>
                  </div>
                    <div class="col-75">
                      <input
                        type="text"
                        id="categoria"
                        name="categoria"
                        <% if (locals.old && old.categoria) { %>
                          value= "<%= old.categoria %>"
                        <% } else { %>
                          placeholder="Categoría del producto"
                        <% } %>
                      />
                    </div>
                </div>

                <div class="row">
                  <div class="col-25">
                    <% if (locals.errors) { %>
                          <% if (errors.find(error=>error.param == "description")) { %>
                            <% errors.forEach(error => { %>
                              <% if (error.param == "description" ) { %>
                                <div class="container" style="background-color: #eb5353;">
                                  <b><%= error.msg  %></b>
                                </div>
                              <% } %>
                            <% }) %>
                            <% } else {%>
                              <label for="description">Descripción <i class="fa-duotone fa-asterisk asterisk"></i></label>
                            <% } %>
                    <% } else {%>
                      <label for="description">Descripción <i class="fa-duotone fa-asterisk asterisk"></i></label>
                    <% } %>
                  </div>
                    <div class="col-75">
                      <textarea id="description" name="description" 
                      <% if (locals.old && old.description) { %>
                        value= "<%= old.description %>"
                      <% } else { %>
                          placeholder="Descripción general del producto" 
                      <% } %> 
                      style="height:70px"></textarea>
                      <div class="container" id="frontDescription" style="background-color: #eb5353;">
                        <b>Debe tener al menos 20 caracteres</b>
                      </div>
                    </div>
                </div>

                <div class="row">
                  <input type="hidden" id="userId" name="userId" value= <%= userID.id %> >
                  <input type="submit" value="Crear" />
              </div>
              </div>
            </form>

        </main>
        <%- include('./partials/footer')  %>
        <script src="js/crearLista.js"></script>
    </body>
</html>