<!-- Detalle -->
<%- include('./partials/head')  %>
    <body>
        <%- include('./partials/header')  %>
        <main>
            <% if (locals.productoImg) { %>
            <section>
                <article class="producto">
                    <% if (productoImg.fileImg) { %>
                            <img src="/img/products/<%= productoImg.fileImg %>" alt="No image">
                    <% } else { %>
                            <img src=<%= productoImg.img %> alt="No image">
                    <% } %>
                </article>
                <article class="descripcion">
                    <ul class="descripcion-item">
                        <li><%= productoImg.name %></li>
                        <li class="nav-item nav-item-end"><i class="fa-regular fa-heart"></i></li>
                        <li class="comentarios">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                        <li><p>0 opiniones</p></li></li>
                        <li>
                            <form action="/detalleProducto/<%= productoImg.id %>/edita" method="get">
                                <label for="edita"></label>
                                <input type="hidden" id="userId" name="userId" value= <%= userID.id %> >
                                <input type="submit" value="Mejora el producto y editalo" />
                            </form>
                        </li>
                        <li>Current price $ <%= productoImg.precio %></li>
                        <li>Description: <%= productoImg.description %></li>
                        <li>Categoria: <%= productoImg.categoria %></li>
                        <li>Ofertas similares</li>
                        <li class="button"><button>Agregar al carrito</button></li>
                        <li>
                            <form action="/detalleProducto/<%= productoImg.id %>/delete?_method=delete" method="post">
                                <label for="eliminar"></label>
                                <input type="hidden" id="userId" name="userId" value= <%= userID.id %> >
                                <input type="submit" value="Elimina el producto" />
                            </form>
                        </li>
                    </ul>
                </article>
            </section>
            <section>
                <div class="comentarios">
                    <ul>
                        <li class="comentarios"><h4>Comentarios</h4></li>
                        <li class="comentarios">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                        </li>
                        <li>NombreUsuario</li>
                        <li class="comentarios">Comentario</li>
                    </ul>
                </div>
            </section>
            <% } %>
        </main>
        <%- include('./partials/footer')  %>
    </body>
</html>