<!-- Detalle -->
<%- include('./partials/head')  %>
    <body>
        <%- include('./partials/header')  %>
        <main>
            <% if (locals.productoImg) { %>
            <section>
                <article class="producto">
                    <% if (productoImg.fileImg) { %>
                            <img src="/img/products/<%= productoImg.fileImg %>" alt="No image">
                    <% } else { %>
                            <img src=<%= productoImg.img %> alt="No image">
                    <% } %>
                </article>
                <article class="descripcion">
                    <ul class="descripcion-item">
                        <li><%= productoImg.name %></li>
                        <li class="nav-item nav-item-end"><i class="fa-regular fa-heart"></i></li>
                        <li class="comentarios">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                        <li><p><%= comments.length %>  opiniones</p></li></li>

                        <% if (locals.userID && locals.userID.id == productoImg.userId) { %>
                            <li>
                                <form action="/detalleProducto/<%= productoImg.id %>/edita" method="get">
                                    <label for="edita"></label>
                                    <input type="hidden" id="userId" name="userId" value= <%= userID.id %> >
                                    <input type="submit" value="Mejora el producto y editalo" />
                                </form>
                            </li>
                        <% } %>

                        <li>Current price $ <%= productoImg.precio %></li>
                        <li>Description: <%= productoImg.description %></li>
                        <li>Categoria: <%= productoImg.categoria %></li>
                        <li>Ofertas similares</li>

                        <% if (locals.userID && locals.userID.id == productoImg.userId) { %>
                            <!-- <li class="button"><button>Agregar al carrito</button></li> -->
                            <li>
                                <form action="/detalleProducto/<%= productoImg.id %>/delete?_method=delete" method="post">
                                    <label for="eliminar"></label>
                                    <input type="hidden" id="userId" name="userId" value= <%= userID.id %> >
                                    <input type="submit" value="Elimina el producto" />
                                </form>
                            </li>
                        <% } %>

                        <% if (locals.userID && locals.userID.id != productoImg.userId) { %>
                            <li>
                                <form action="/addCart/<%= productoImg.id %>?_method=PUT" method="post">
                                    <label for="carrito"></label>
                                    <input type="hidden" id="userId" name="userId" value= <%= userID.id %> >
                                    <input type="hidden" id="product_id" name="product_id" value= <%= productoImg.id %> >
                                    <input type="hidden" id="quantity" name="quantity" value= "1" >
                                    <input type="submit" value="Agregar al carrito de compras" />
                                </form>
                            </li>
                        <% } %>
                    </ul>
                </article>
            </section>
            <section>
                <article class="comentarios">
                    <ul class="descripcion-item">
                        <li class="comentarios"><h4>Comentarios</h4></li>
                        <% if (locals.userID) { %>
                            <li class="comentarios">
                                <form action="/detalleProducto/<%= productoImg.id %>/comment?_method=PUT" method="post">
                                    <label for="comment"></label>
                                    <input type="hidden" id="userId" name="userId" value= <%= userID.id %> >
                                    <input type="hidden" id="fileImg" name="fileImg" value= <%= userID.fileImg %> >
                                    <input type="hidden" id="product_id" name="product_id" value= <%= productoImg.id %> >
                                    <input type="text" id="comment" name="comment" placeholder="Agrega un comentario..." />
                                    <br>
                                    <br>
                                    <input type="submit" value="Comentar" />
                                </form>
                            </li>
                        <% } %>
                        <br>
                        <!-- <li class="comentarios">%= productoImg.commentProduct.fname %></li> -->
                        <% for( let Comment of comments ) { %>
                            <br>
                            <br>
                            <li class="comentarios">
                                <img class="img-nav" src="/img/users/<%= Comment.fileImg %>" alt="No image"> <%=Comment.comment%> 
                            </li>
                        <% } %>
                    </ul>
                </article>
            </section>
            <% } %>
        </main>
        <%- include('./partials/footer')  %>
    </body>
</html>