<!-- Edita  -->
<%- include('./partials/head')  %>
    <body>
        <%- include('./partials/header')  %>
        <main>
            <h2>Edita tú producto</h2>
            <section>
              <article class="producto">
                <% if (productoImg.fileImg) { %>
                        <img src="/img/products/<%= productoImg.fileImg %>" alt="No image">
                <% } else { %>
                        <img src=<%= productoImg.img %> alt="No image">
                <% } %>
              </article>
              <article class="descripcion">

                  <% if (locals.errors) { %>
                    <% errors.forEach(error => { %>
                      <div class="container" style="background-color: #eb5353;">
                        <b><%= error.msg  %></b>
                    </div>
                    <% }) %>
                  <% } %>

                <form id="formEdita" action="/detalleProducto/<%= productoImg.id %>/edita?_method=PUT" method="post">
                  <div class="container">
                      <div class="row">
                        <div class="col-25">
                          <label for="name">Nombre</label>
                        </div>
                        <div class="col-75">
                          <input
                            type="text"
                            id="name"
                            name="name"
                            <% if (locals.old && old.name) { %>
                              value= "<%= old.name %>"
                              <% } else { %>
                                value= "<%= productoImg.name %>"
                            <% } %>
                          />
                          <div class="container" id="editaName" style="color: #eb5353;">
                            <b>Debe tener al menos 5 caracteres</b>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-25">
                          <label for="precio">Precio</label>
                        </div>
                        <div class="col-75">
                          <input
                            type="number"
                            id="precio"
                            name="precio"
                            min="1"
                            <% if (locals.old && old.precio) { %>
                              value= "<%= old.precio %>"
                            <% } else { %>
                              value=<%= productoImg.precio %>
                            <% } %>
                          />
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-25">
                          <label for="categoria">Categoría</label>
                        </div>
                        <div class="col-75">
                          <input
                            type="text"
                            id="categoria"
                            name="categoria"
                            <% if (locals.old && old.categoria) { %>
                              value= "<%= old.categoria %>"
                            <% } else { %>
                              value=<%= productoImg.categoria %>
                            <% } %>
                          />
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-25">
                          <label for="img">URL</label>
                        </div>
                        <div class="col-75">
                          <input
                            type="url"
                            id="img"
                            name="img"
                            placeholder="Ingresa una URL para la imagen"
                          />
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-25">
                          <label for="fileImg">Agrega una imagen</label>
                        </div>
                        <div class="col-75">
                          <input
                            type="file"
                            id="fileImg"
                            name="fileImg"
                          />
                          <div class="container" id="editaFileImg" style="color: #eb5353;">
                            <b>Verifica que sea formato JPG, JPEG, PNG o GIF</b>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-25">
                          <label for="description"> Descripción: <br><br> <%= productoImg.description %></label>
                        </div>
                        <div class="col-75">
                          <textarea id="description" name="description" 
                          <% if (locals.old && old.description) { %>
                            value= "<%= old.description %>"
                          <% } else { %>
                              placeholder="Nueva descripción general del producto"
                          <% } %>
                          style="height:100px"></textarea>
                          <div class="container" id="editaDescription" style="color: #eb5353;">
                            <b>Debe tener al menos 20 caracteres</b>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <input type="hidden" id="userId" name="userId" value= <%= productoImg.userId %> >
                        <input type="submit" value="Enviar cambios" />
                      </div>
                  </div>
              </form>
              </article>
            </section>
        </main>
        <%- include('./partials/footer')  %>
        <!-- <script src="js/edita.js"></script> -->
      <script>
        document.addEventListener('DOMContentLoaded', function() {

          // Cuando escriben sobre el input
          document.querySelector('#name').addEventListener('keydown', () => load_name());
          document.querySelector('#description').addEventListener('keydown', () => load_description());
          document.querySelector('#fileImg').addEventListener('click', () => load_fileImg());

          // Cuando dan click fuera del input
          document.querySelector('#name').addEventListener('blur', () => blur_name());
          document.querySelector('#description').addEventListener('blur', () => blur_description());
          document.querySelector('#fileImg').addEventListener('blur', () => blur_fileImg());

          // Por default no mostrar
          document.querySelector('#editaName').style.display = 'none';
          document.querySelector('#editaDescription').style.display = 'none';
          document.querySelector('#editaFileImg').style.display = 'none';
        });

        var formName = false;
        function load_name() {

          const name = document.querySelector('#name');

          if(name.value.length < 4){
              document.querySelector('#editaName').style.display = 'block';
          }else{
              document.querySelector('#editaName').style.display = 'none';
              formName = true;
          }
        }

        function blur_name() {
          const name = document.querySelector('#name');
          if(name.value.length < 4){
              // alert('Falta el campo de "contraseña"!!!')
              document.querySelector('#editaName').style.display = 'block';
              document.querySelector('#editaName b').innerHTML = 'El campo Nombre no puede estar vacio y debe tener al menos 5 caracteres';
          }
        }

        var description = false;
        function load_description() {

          const name = document.querySelector('#description');

          if(name.value.length < 19){
              document.querySelector('#editaDescription').style.display = 'block';
          }else{
              document.querySelector('#editaDescription').style.display = 'none';
              description = true;
          }
        }

        function blur_description() {
          const name = document.querySelector('#description');
          if(name.value.length < 19){
              // alert('Falta el campo de "contraseña"!!!')
              document.querySelector('#editaDescription').style.display = 'block';
              document.querySelector('#editaDescription b').innerHTML = 'El campo Descripción no puede estar vacio y debe tener al menos 20 caracteres';
            }
        }

        function load_fileImg() {
          document.querySelector('#frontFileImg').style.display = 'block';
        }

        // Validación antes de enviar el formulario
        window.addEventListener('load', function(e){
          var formulario = document.querySelector('#formEdita');
          formulario.addEventListener('submit',(evento)=>{
            if(!formName){
              this.alert('Falta el campo "Nombre"!!!');
              evento.preventDefault();
            }else if(!description){
              this.alert('Falta describir el producto!!!');
              evento.preventDefault();
            }
          });
        });
      </script>
    </body>
</html>