<!-- Edita  -->
<%- include('./partials/head')  %>
    <body>
        <%- include('./partials/header')  %>
        <main>
            <h2>Edita tú producto</h2>
            <section>
              <article class="producto">
                <% if (productoImg.fileImg) { %>
                        <img src="/img/products/<%= productoImg.fileImg %>" alt="No image">
                <% } else { %>
                        <img src=<%= productoImg.img %> alt="No image">
                <% } %>
              </article>
              <article class="descripcion">

                  <% if (locals.errors) { %>
                    <% errors.forEach(error => { %>
                      <div class="container" style="background-color: #eb5353;">
                        <b><%= error.msg  %></b>
                    </div>
                    <% }) %>
                  <% } %>

                <form action="/detalleProducto/<%= productoImg.id %>/edita?_method=PUT" method="post">
                  <div class="container">
                      <div class="row">
                        <div class="col-25">
                          <label for="name"><%= productoImg.name %></label>
                        </div>
                        <div class="col-75">
                          <input
                            type="text"
                            id="name"
                            name="name"
                            <% if (locals.old && old.name) { %>
                              value= "<%= old.name %>"
                            <% } else { %>
                              placeholder="Nuevo nombre del producto"
                            <% } %>
                          />
                          <div class="container" id="editaName" style="color: #eb5353;">
                            <b>Debe tener al menos 5 caracteres</b>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-25">
                          <label for="precio">Precio</label>
                        </div>
                        <div class="col-75">
                          <input
                            type="number"
                            id="precio"
                            name="precio"
                            <% if (locals.old && old.precio) { %>
                              value= "<%= old.precio %>"
                            <% } else { %>
                              value=<%= productoImg.precio %>
                            <% } %>
                          />
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-25">
                          <label for="categoria">Categoría</label>
                        </div>
                        <div class="col-75">
                          <input
                            type="text"
                            id="categoria"
                            name="categoria"
                            <% if (locals.old && old.categoria) { %>
                              value= "<%= old.categoria %>"
                            <% } else { %>
                              value=<%= productoImg.categoria %>
                            <% } %>
                          />
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-25">
                          <label for="img">URL</label>
                        </div>
                        <div class="col-75">
                          <input
                            type="url"
                            id="img"
                            name="img"
                            placeholder="Ingresa una URL para la imagen"
                          />
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-25">
                          <label for="fileImg">Agrega una imagen</label>
                        </div>
                        <div class="col-75">
                          <input
                            type="file"
                            id="fileImg"
                            name="fileImg"
                          />
                          <div class="container" id="editaFileImg" style="color: #eb5353;">
                            <b>Verifica que sea formato JPG, JPEG, PNG o GIF</b>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-25">
                          <label for="description"> <%= productoImg.description %></label>
                        </div>
                        <div class="col-75">
                          <textarea id="description" name="description" 
                          <% if (locals.old && old.description) { %>
                            value= "<%= old.description %>"
                          <% } else { %>
                              placeholder="Descripción general del producto"
                          <% } %>
                          style="height:100px"></textarea>
                          <div class="container" id="editaDescription" style="color: #eb5353;">
                            <b>Debe tener al menos 20 caracteres</b>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <input type="hidden" id="userId" name="userId" value= <%= productoImg.userId %> >
                        <input type="submit" value="Enviar cambios" />
                      </div>
                  </div>
              </form>
              </article>
            </section>
        </main>
        <%- include('./partials/footer')  %>
        <script src="js/edita.js"></script>
    </body>
</html>