<%- include('./partials/head')  %>
    <body>
        <%- include('./partials/header')  %>
        <main>

          <% if (locals.errors) { %>
            <div class="container" style="background-color: #eb5353;">
              <b>Faltan campos por llenar!!!</b>
            </div>
          <% } %>

          <form action="/login" method="post" enctype = "multipart/form-data">
            <div class="container">
              <div class="row">
                <div class="col-25">
                  <% if (locals.errors) { %>
                    <div class="container" style="background-color: #eb5353;">
                      <b><%= errors[0].msg  %></b>
                  </div>
                  <% } else {%>
                    <label for="email">Usuario <i class="fa-duotone fa-asterisk asterisk"></i></label>
                  <% } %>
                </div>
                <div class="col-75">
                  <input
                    type="email"
                    id="email"
                    name="email"
                    placeholder="Email"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-25">
                  <% if (locals.errors) { %>
                    <div class="container" style="background-color: #eb5353;">
                      <b><%= errors[1].msg  %></b>
                  </div>
                  <% } else {%>
                    <label for="password">Contraseña <i class="fa-duotone fa-asterisk asterisk"></i></label>
                  <% } %>
                </div>
                <div class="col-75">
                  <input
                    type="password"
                    id="password"
                    name="password"
                    placeholder="password"
                  />
                </div>
              </div>
              <div class="row">
                <br>
                <input type="submit" value="Enviar" />
              </div>
            </div>
          </form>
          <div class="container">
            <p>¿No tienes una cuenta? <a class="nav-link" href="/registro">Registro</a></p>
          </div>
        </main>
        <%- include('./partials/footer')  %>
    </body>
</html>