<%- include('./partials/head')  %>
    <body>
        <%- include('./partials/header')  %>
        <main>
          <!-- <section> -->

          <form id="formLogin" action="/login" method="post">
            <div class="container">

              <% if (locals.errors) { %>
                <div class="container" style="background-color: #eb5353;">
                  <b>Faltan campos por llenar!!!</b>
                </div>
              <% } %>
              <% if (locals.errorLog) { %>
                <div class="container" style="background-color: #eb5353;">
                  <b><%= errorLog[0].msg  %></b>
                </div>
              <% } %>
              <% if (locals.registro) { %>
                <div class="container" style="background-color: #1f7a54;">
                  <b><%= registro[0].msg  %></b>
                </div>
              <% } %>
              
              <div class="row">
                <div class="col-25">
                  <% if (locals.errors) { %>
                    <% if (locals.old && old.email) { %>
                      <label for="email">Usuario <i class="fa-duotone fa-asterisk asterisk"></i></label>
                    <% } else { %>
                      <div class="container" style="background-color: #eb5353;">
                        <b><%= errors[errors.findIndex(error => error.param == "email")].msg  %></b>
                      </div>
                    <% } %>
                  <% } else {%>
                    <label for="email">Usuario <i class="fa-duotone fa-asterisk asterisk"></i></label>
                  <% } %>
                </div>
                <div class="col-75">
                  <input type="email" id="email" name="email"
                    <% if (locals.old && old.email) { %>
                      value= "<%= old.email %>"
                    <% } else { %>
                      placeholder="Email"
                    <% } %>
                  />
                  <div class="container" id="frontEmail" style="color: #eb5353;">
                    <b>Ejemplo de correo valido: miCorreo@email.com</b>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-25">
                  <% if (locals.errors) { %>
                    <% if (locals.old && old.password) { %>
                      <div class="container" style="background-color: #eb5353;">
                        <b><%= errors[errors.findIndex(error => error.param == "password")].msg  %></b>
                      </div>
                    <% } else { %>
                      <div class="container" style="background-color: #eb5353;">
                        <b><%= errors[errors.findIndex(error => error.param == "password")].msg  %></b>
                      </div>
                    <% } %>
                  <% } else {%>
                    <label for="password">Contraseña <i class="fa-duotone fa-asterisk asterisk"></i></label>
                  <% } %>
                </div>
                <div class="col-75">
                  <input type="password" id="password" name="password" placeholder="password"/>
                  <div class="container" id="frontPassword" style="color: #eb5353;">
                    <b>Debe tener al menos 8 caracteres</b>
                  </div>
                </div>
              </div>
              <section>
                <label for="recuerdame">Recuerdame </label>
                <input type="checkbox" id="recuerdame" name="recuerdame"/>
              </section>
              <div class="row">
                <br>
                <input type="submit" value="Login" />
              </div>
              <p>¿No tienes una cuenta? <a class="nav-link" href="/registro">Registro</a></p>
            </div>
          </form>
        <!-- </section> -->
        <!-- <section>
          <div class="container">
            <p>¿No tienes una cuenta? <a class="nav-link" href="/registro">Registro</a></p>
          </div>
        </section> -->
        </main>
        <%- include('./partials/footer')  %>
        <script src="js/login.js"></script>
    </body>
</html>