<%- include('./partials/head')  %>
<body>
  <%- include('./partials/header')  %>
    <main>
      <% if (locals.errors) { %>
        <div class="container" style="background-color: #eb5353;">
          <b>Faltan campos por llenar!!!</b>
        </div>
      <% } %>
      <section>
        <h2>Registro de nuevo usuario</h2>
        <form  action="/registro" method="post" enctype="multipart/form-data">
          <div class="container">
            <label for="birth_date"><b>Fecha de nacimiento</b></label>
            <input type="date" name="birth_date" id="birth_date">
            <br>
            <label for="adress"><b>Direccion</b></label>
            <input type="text" name="addres" 
              <% if (locals.old && old.addres) { %>
                value= "<%= old.addres %>"
              <% } else { %>
                placeholder="Domicilio"
              <% } %>
            >
            <br>
            <label for="tlf"><b>Número telefonico</b></label>
            <input type="tlf" name="telefono" 
              <% if (locals.old && old.telefono) { %>
                value= "<%= old.telefono %>"
              <% } else { %>
                placeholder="(código de área) - Telefono"
              <% } %>
            >
            <h4>Perfil del usuario</h4>
            <div class="profile">
                <input type="radio" name="profile" value="buy" id="buy">
                <label for="buy">Comprador</label>
                <input type="radio" name="profile" value="sell" id="sell">
                <label for="sell">Vendedor</label>
            </div>
            <div class="row">
              <div class="col-25">
                <% if (locals.errors) { %>
                  <% if ( errors.findIndex(error => error.param == "fileImg") != -1 ) { %>
                    <div class="container" style="background-color: #eb5353;">
                      <b><%= errors[errors.findIndex(error => error.param == "fileImg")].msg  %></b>
                    </div>
                  <% } %>
                <% } else {%>
                  <label for="fileImg">Agrega una imagen de perfil</label>
                <% } %>
              </div>
              <div class="col-75">
                <input
                  type="file"
                  id="fileImg"
                  name="fileImg"
                  value="Ingresa una imagen"
                />
                <div class="container" id="frontFileImg" style="color: #eb5353;">
                  <b>Verifica que sea formato JPG, JPEG, PNG o GIF</b>
                </div>
              </div>
            </div>
          </div>

          <div class="container">
            <div class="row">
              <div class="col-25">
                <% if (locals.errors) { %>
                  <% if (locals.old && old.fname) { %>
                    <% if (old.fname.length < 2) { %>
                      <div class="container" style="background-color: #eb5353;">
                        <b>Debe tener al menos 2 caracteres</b>
                      </div>
                    <% } %>
                    <label for="fname">Nombre<i class="fa-duotone fa-asterisk asterisk"></i></label>
                  <% } else { %>
                    <div class="container" style="background-color: #eb5353;">
                      <b><%= errors[errors.findIndex(error => error.param == "fname")].msg  %></b>
                    </div>
                  <% } %>
                <% } else {%>
                  <label for="fname">Nombre<i class="fa-duotone fa-asterisk asterisk"></i></label>
                <% } %>
              </div>
              <div class="col-75">
                <input type="text" id="fname" name="fname" 
                  <% if (locals.old && old.fname) { %>
                    value= "<%= old.fname %>"
                  <% } else { %>
                    placeholder="Tú nombre"
                  <% } %>
                >
                <div class="container" id="frontFname" style="color: #eb5353;">
                  <b>Debe tener al menos 2 caracteres</b>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-25">
                <% if (locals.errors) { %>
                  <% if (locals.old && old.lname) { %>
                    <% if (old.lname.length < 2) { %>
                      <div class="container" style="background-color: #eb5353;">
                        <b>Debe tener al menos 2 caracteres</b>
                      </div>
                    <% } %>
                    <label for="lname">Apellido<i class="fa-duotone fa-asterisk asterisk"></i></label>
                  <% } else { %>
                    <div class="container" style="background-color: #eb5353;">
                      <b><%= errors[errors.findIndex(error => error.param == "lname")].msg  %></b>
                    </div>
                  <% } %>
                <% } else {%>
                  <label for="lname">Apellido<i class="fa-duotone fa-asterisk asterisk"></i></label>
                <% } %>
              </div>
              <div class="col-75">
                <input type="text" id="lname" name="lname" 
                  <% if (locals.old && old.lname) { %>
                    value= "<%= old.lname %>"
                  <% } else { %>
                    placeholder="Tú apellido"
                  <% } %>
                >
                <div class="container" id="frontLname" style="color: #eb5353;">
                  <b>Debe tener al menos 2 caracteres</b>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-25">
                <% if (locals.errors) { %>
                  <% if (locals.old && old.email) { %>
                    <% if ( errors.findIndex(error => error.param == "email") != -1 ) { %>
                      <div class="container" style="background-color: #eb5353;">
                        <b><%= errors[errors.findIndex(error => error.param == "email")].msg  %></b>
                      </div>
                    <% } %>
                    <label for="email">Correo electronico <i class="fa-duotone fa-asterisk asterisk"></i></label>
                  <% } else { %>
                    <div class="container" style="background-color: #eb5353;">
                      <b><%= errors[errors.findIndex(error => error.param == "email")].msg  %></b>
                    </div>
                  <% } %>
                <% } else {%>
                  <label for="email">Correo electronico <i class="fa-duotone fa-asterisk asterisk"></i></label>
                <% } %>
              </div>
              <div class="col-75">
                <input type="email" id="email" name="email" 
                  <% if (locals.old && old.email) { %>
                    value= "<%= old.email %>"
                  <% } else { %>
                    placeholder="miCorreo@email.com"
                  <% } %>
                >
                <div class="container" id="frontEmail" style="color: #eb5353;">
                  <b>Ejemplo de correo valido: miCorreo@email.com</b>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-25">
                <label for="country">Pais</label>
              </div>
              <div class="col-75">
                <select id="country" name="country">
                  <option value="colombia">Colombia</option>
                  <option value="venezuela">Venezuela</option>
                  <option value="mexico">México</option>
                  <option value="argentina">Argentina</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-25">
                <% if (locals.errors) { %>
                  <% if (locals.old && old.password) { %>
                    <% if (old.lname.length < 8) { %>
                      <div class="container" style="background-color: #eb5353;">
                        <b>Debe tener al menos 8 caracteres</b>
                      </div>
                    <% } %>
                    <label for="password">Contraseña <i class="fa-duotone fa-asterisk asterisk"></i></label>
                  <% } else { %>
                    <div class="container" style="background-color: #eb5353;">
                      <b><%= errors[errors.findIndex(error => error.param == "password")].msg  %></b>
                    </div>
                  <% } %>
                <% } else {%>
                  <label for="password">Contraseña <i class="fa-duotone fa-asterisk asterisk"></i></label>
                <% } %>
              </div>
              <div class="col-75">
                <input
                  type="password"
                  id="password"
                  name="password"
                  placeholder="Password"
                />
                <div class="container" id="frontPassword" style="color: #eb5353;">
                  <b>Debe tener al menos 8 caracteres</b>
                </div>
              </div>
            </div>

            <!-- <div class="row">
              <div class="col-25">
                <label for="confirmPassword">Confirma contraseña <i class="fa-duotone fa-asterisk asterisk"></i></label>
              </div>
              <div class="col-75">
                <input
                  type="password"
                  id="confirmPassword"
                  placeholder="Confirm Password"
                />
              </div>
            </div> -->

            <div class="row">
              <div class="col-25">
                <label for="subject">Comentario</label>
              </div>
              <div class="col-75">
                <textarea id="subject" name="subject" 
                <% if (locals.old && old.subject) { %>
                  value= "<%= old.subject %>"
                <% } else { %>
                  placeholder="Cuentanos algo de ti" 
                <% } %>
                style="height:200px"></textarea>
              </div>
            </div>
            <div class="row">
              <input type="submit" value="Registro">
              <br>
              <br>
              <p>¿Tienes una cuenta? <a class="nav-link" href="/login">Login</a></p>
            </div>
          </div>
        </form>
      </section>
    </main>
    <%- include('./partials/footer')  %>
    <script src="js/registro.js"></script>
</body>
</html>