<%- include('./partials/head')  %>
    <body>
        <%- include('./partials/header')  %>
        <main>
            <h2> Perfil del usuario</h2>
            <% if (locals.userID) { %>
                <section>
                    <article class="producto">
                        <% if (userID.fileImg) { %>
                                <img src="/img/users/<%= userID.fileImg %>" alt="No image">
                        <% } else { %>
                                <img src=<%= userID.fileImg %> alt="No image">
                        <% } %>
                        <form action="/registro/userPerfil<%= userID.id %>/delete?_method=delete" method="post">
                            <label for="eliminar"></label>
                            <input type="hidden" id="userId" name="userId" value= <%= userID.id %> >
                            <input type="submit" value="Elimina al usuario" />
                        </form>
                    </article>
                    <article class="descripcion">
                        <ul class="descripcion-item">
                            <li><%= userID.fname %></li>
                            <li><%= userID.lname %></li>
                            <li><%= userID.profile%></li>
                            <li> <%= userID.telefono %></li>
                            <li> <%= userID.birth_date %></li>
                            <li> <%= userID.addres %></li>
                            <li> <%= userID.email %></li>
                            <li> <%= userID.country %></li>
                            <li> <%= userID.subject %></li>
                            <li>
                                <form action="/registro/userPerfil<%= userID.id %>/edita" method="get">
                                    <label for="edita"></label>
                                    <input type="hidden" id="userId" name="userId" value= <%= userID.id %> >
                                    <input type="submit" value="Edita tú información" />
                                </form>
                            </li>
                        </ul>
                    </article>
                </section>
            <% } %>
        </main>
        <%- include('./partials/footer')  %>
    </body>
</html>